*main.c
0-positive_or_negative 
100-print_comb3
102-print_comb5
3-print_alphabets
5-print_numbers
7-print_tebahpla
9-print_comb
1-last_digit
101-print_comb4
2-print_alphabet
4-print_alphabt
6-print_numberz
8-print_base16
